@font-face {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: Poppins, sans-serif;
  font-style: normal;
  src:
    url("../assets/fonts/Poppins-ExtraBold.woff2") format("woff2"),
    url("../assets/fonts/Poppins-ExtraBold.woff") format("woff");
}
